@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  // src: url('/assets/fonts/fontName.eot');
  src: //url('/assets/fonts/fontName.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  // src: url('/assets/fonts/fontName.eot');
  src: //url('/assets/fonts/fontName.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
}
